---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/news/Header.astro';
import Footer from '../components/news/Footer.astro';
import SideProjectItem from '../components/news/SideProjectItem.astro';
import ProjectItem from '../components/news/ProjectItem.astro';
import CustomCursor from '../components/CustomCursor.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { projects } from '../data/projects';
import BentoGrid from '../components/news/BentoGrid.astro';
import BentoGridInteriorism from '../components/news/BentoGridInteriorism.astro';
import HeroAnimation from '../components/HeroAnimation.astro';

const mainProjects = projects.filter(p => !p.isSideProject);
const sideProjects = projects.filter(p => p.isSideProject);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={`${SITE_TITLE} - Works`} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-secondary min-h-screen flex flex-col">
		<Header theme="dark" />
		
		<main class="w-full flex flex-col">
			<!-- Hero Section -->
			<section class="w-full relative min-h-[600px] flex items-end px-16 py-20">
				<div id="hero-image" class="absolute left-0 top-[96px] w-[420px] h-[420px] flex-shrink-0">
					<svg id="hero-svg" width="420" height="420" viewBox="0 0 420 420" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-full h-full">
						<path d="M210 0C325.98 5.77262e-05 420 94.0203 420 210V420H210V210H201.603V420H0V210C0 94.0203 94.0203 0 210 0Z" fill="white"/>
					</svg>
				</div>
				<div class="w-full flex">
					<div class="w-1/3 h-[153px]"></div>
					<div class="flex flex-col gap-4 justify-start ml-48">
						<h1 id="hero-title" class="text-h1 font-heading font-bold text-primary capitalize">Works</h1>
						<div class="px-4">
							<p id="hero-subtitle" class="text-body-md font-body text-primary">
								How I think, how I solve, and how I care.
							</p>
						</div>
					</div>
				</div>
			</section>

			<!-- In-house & client projects Section -->
			<section class="w-full px-16 py-[120px] flex flex-col gap-10">
				<div class="flex flex-col gap-3 mb-10">
					<h2 class="text-h2 font-heading font-bold text-primary">In-house & client projects</h2>
				</div>
				
				<div class="flex flex-col gap-6">
					{mainProjects.map((project, index) => (
						<>
							<ProjectItem 
								category={project.industry || ''}
								type={project.type}
								title={project.title}
								description={project.intro.split('\n')[0]}
								slug={project.slug}
							/>
							{index < mainProjects.length - 1 && <div class="h-px bg-primary w-full"></div>}
						</>
					))}
				</div>


			</section>

				<!-- Bento Grid Section -->
			<BentoGrid />

			<div class="h-[1px] pt-24"></div>


			<section class="w-full bg-white px-16 py-[120px] flex flex-col md:flex-row gap-14 items-end">
				<div class="flex flex-col gap-6 max-w-[548px]">
					<h2 class="text-h2 font-heading font-bold text-secondary">
						Side projects
					</h2>
					<p class="text-body-md font-body text-secondary-400 pb-4">Personal projects where I explore ideas, technologies, and narratives that inspire me. Spaces for experimentation — to learn, fail, and create without limits.</p>
				</div>
				<div class="flex-1 flex flex-col gap-0">
					{sideProjects.map((project, index) => (
						<SideProjectItem 
							iconImage={project.iconImage || ''}
							title={project.title}
							description={project.intro.split('\n')[0]}
							slug={project.slug}
							isLast={index === sideProjects.length - 1}
							theme="light"
						/>
					))}
				</div>
			</section>

			<!-- Gallery Section: Interiorism -->
			<section class="w-full bg-secondary  py-[120px] flex flex-col gap-10 items-start">
				<div class="flex flex-col gap-6 items-start px-[56px]">
					<h2 class="text-h2 font-heading font-bold text-primary">Interiorism</h2>
					<div class="h-px bg-primary w-full"></div>
					<p class="text-body-md font-body text-primary">
						After 4 years designing physical spaces, I wanted to go further and understand how people truly behave and interact beyond the environment itself. I pivoted to ground my decisions in real data, human behaviour where insight, interaction and strategy shape every design choice.
					</p>
				</div>
				<!-- Bento Grid Section -->
				<BentoGridInteriorism />
			</section>
		</main>

	<Footer />
	<HeroAnimation />
	<CustomCursor />
</body>
</html>

